<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Time test Suite" verbose="1">
  <test name="Group Test">
   
    <groups>
     <run>
        <include name="a" />
        
      </run>
    </groups>
    
    <classes>
      <class name="testNG.TestGroupExample" />
    </classes>
    
  </test>
</suite>